<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.asdfasdf.asdfasdf.asdfasdfads">Publication Title</a>.
			</span><br />
			<span class="authors">
				Author 1 and Author 2.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Something or Another</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
